.App {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.App > * {
  margin-top: 2rem;
  width: 45%;
}

.navigation {
  padding: .65rem;
  background-color: slategray;
}

.navigation > * {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
}

.navigation > *:hover {
  color: darkslategray;
}

.search-container {
  width: fit-content;
}

.search-bar {
  width: 20rem;
  height: 1.5rem;
}

.search-container  ul{
  padding: 0;
  padding-top: 2px;
  max-height: 14.85rem;
  overflow: scroll;
  margin: 0;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.5rem;
  text-align: left;
  border: solid lightgray 2px;
  margin-top: -2px;
  padding: .25rem .5rem;
}

.card p {
  margin: .5rem 0rem;
  font-size: small;
}

.card button {
  height: fit-content;
  margin-right: 1px;
  font-size: smaller;
  background-color: lightseagreen;
  color: white;
  border: solid lightseagreen 1px;
  border-radius: 2px;
  font-weight: bold;
}

.personal-deck-container {
  margin: auto;
  margin-top: 2rem;
  width: 90%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-around;
  flex-direction: row;
}

.personal-deck {
    width: 100%;
    border: solid lightgrey 1px;
    border-radius: 5px;
    text-align: center;
    padding-top: 20%;
    padding-bottom: 30%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.personal-deck:hover{
  filter: drop-shadow(1px 1px 7px gray);
}